[Locations]
# Path to loadout config from runner
looks_config = ./appearance.cfg
# Bot's python file.
# Only need this if RLBot controlled
python_file = 
# The name that will be displayed in game
name = AllStar

[Bot Parameters]
